.cast__card {
  display: flex;
  max-width: 330px;
  position: relative;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 20px;
  overflow: hidden;

  &--image {
    width: 100%;
    height: 100%;
  }

  &--info {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(100%);
    background: rgba(#000000, 0.5);
    transition: all 0.3s;
  }

  &:hover {
    .cast__card--info {
      transform: translateY(70%);
      width: 100%;
    }
  }
}
