.favorites-list {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 0 8px 17px 0 #e50914, 0 6px 20px 0 #e50914;
  padding: 30px 50px;

  h1 {
    font-size: 36px;
    color: #dacb46;
    padding: 15px 50px;
    margin: 0px;
  }

  h2 {
    font-size: 26px;
    color: #dacb46;
    font-weight: 700;
    padding: 15px 50px;
    margin: 0px;
  }

  h3 {
    font-size: 22px;
    color: #dacb46;
    margin: 0;
  }

  .card {
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 40px;
    border-radius: 8px;
    &:hover {
      filter: brightness(105%);
      .card__content > p {
        font-weight: 800;
        color: #dacb46;
      }
    }
    p {
      margin: 0px;
    }

    img {
      width: 400px;
    }

    &__content {
      font-size: 18px;
      color: #fff;
      padding: 30px 50px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      border-radius: 10px;
      & > p {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 30px;
      }

      .movie__infos {
        margin-left: 100px;
        width: 100%;
      }
    }

    &__footer {
      display: none;
    }
  }

  .add-btn {
    width: 250px;
    height: 60px;
    color: #fff;
    background-color: #e50914;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    margin: 24px 0 30px 0;
    cursor: pointer;

    &:hover {
      filter: brightness(85%);
    }
  }
}
