$white: #fff;
$black: #000;
$gray: #b3b3b3;
$red: #e50914;

.login-Page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(https://i2.wp.com/thebutlercollegian.com/wp-content/uploads/2019/03/netflix-image.jpg?w=2000&ssl=1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $gray;

  .login {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;

    &__title {
      color: $white;
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 20px;
    }

    &__group {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;

      &__label {
        position: absolute;
        z-index: 10;
        color: $gray;
        font-size: 16px;
        top: 24px;
        left: 18px;
        transition: all 300ms ease-in;
        will-change: transform;
      }

      &__input {
        position: relative;
        z-index: 2;
        line-height: 50px;
        background: #333;
        margin-bottom: 20px;
        border-radius: 4px;
        border: none;
        opacity: 1;
        font-size: 16px;
        color: $white;
        padding: 12px 18px 0;
        outline: none;
        border-bottom: 2px solid #333;

        &:focus ~ .login__group__label,
        &:valid ~ .login__group__label {
          top: 12px;
          font-size: 14px;
          border: none;
        }

        &:focus,
        &:valid {
          border-bottom: solid 2px;
          border-color: coral;
        }
      }
    }

    &__sign-in {
      width: 100%;
      height: 50px;
      color: $white;
      background-color: $red;
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      border: none;
      margin: 24px 0 30px 0;
      cursor: pointer;

      // &:hover {

      // }
    }
  }

  .messageError {
    position: relative;
    font-size: 16px;
    top: -20px;
    width: 100%;
    height: 20px;
    color: coral;
    margin: 5px 0 0 5px;
  }
}
