.movie__info {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 8px 17px 0 #e50914, 0 6px 20px 0 #e50914;
  font-size: 18px;
  color: #fff;

  h1 {
    font-size: 36px;
    color: #dacb46;
    padding: 15px 50px;
    margin: 0px;
  }

  h2 {
    font-size: 26px;
    color: #dacb46;
    font-weight: 700;
    padding: 15px 50px;
    margin: 0px;
  }

  h3 {
    font-size: 22px;
    color: #dacb46;
    margin: 0;
  }

  p {
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: #46e1ff;

    &:hover {
      color: #dacb46;
    }
  }

  &--banner {
    width: 100%;
    height: 30%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  &--script {
    display: flex;
    flex-direction: row;
    aside {
      display: flex;
      flex-direction: column;
      padding: 0px 50px;

      img {
        width: 300px;
      }
    }
  }

  &--block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-right: 50px;

    .box-info {
      line-height: 2.2;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 10px 15px;
      border-radius: 10px;
    }

    .box-rating {
      max-height: 200px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      padding: 10px 15px;

      strong {
        color: #dacb46;
      }
    }
  }

  .add-btn {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #e50914;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    margin: 24px 0 30px 0;
    cursor: pointer;

    &:hover {
      filter: brightness(85%);
    }
  }
}

.movie__summary {
  padding: 20px 50px;
  text-align: justify;
}

.cast-container {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 50px;
  color: #fff;
}
