.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -1;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 60px;
  
  .card {
    position: relative;
    z-index: 0;
    max-width: 350px;
    max-height: 550px;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: #fff;

    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 8px 17px 0 #e50914, 0 6px 20px 0 #e50914;
      cursor: pointer;
      img {
        transform: scale(1.05);
        transition: 0.3s ease;
      }
      color: #e50914;
      font-weight: 900;
      .card {
        height: 600px;
        &__footer {
          display: block;
        }
      }
    }

    &__content {
      font-size: 24px;
      font-weight: 600;
      text-align: center;

      p {
        margin: 12px 0 12px 0;
      }
    }

    &__footer {
      display: none;

      .footer__rating {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 23rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        /* border-radius: 50%; */
        padding: 1.5rem;
        background-color: #e50914;
        color: #fff;
        font-weight: 700;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
      }

      .footer__like {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25rem;
        left: 2rem;
        width: 2rem;
        height: 2rem;
        font-size: 50px;
        color: #fff;
      }
      .liked {
        color: #e50914;
      }
    }
  }

  .image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      transition: 0.3s ease;
    }
  }
}
