.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 1920px;

  &__logo {
    width: 100px;
    padding-left: 10px;
  }

  &__avatar {
    width: 100px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 160px;
  }

  .dropdown-btn {
    text-align: right;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    ul {
      padding-left: 0px;
      margin: 0 auto;
      & > li {
        list-style-type: none;
        line-height: 1.9;
        padding: 5px 10px;

        &:hover {
          padding: 5px 15px;
          font-weight: 600;
          background-color: #fff;
          color: #000;
        }
      }
    }
  }

  .form-control {
    width: 120px;
    height: 40px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;

    &:hover {
      filter: brightness(70%);
    }
  }
}

.filter {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
